.terraform
.terraform.tfstate.lock.info
terraform.tfstate.backup
.terraform.lock.hcl
terraform.tfstate
exports
/exports
.terraform.lock.hcl
.terraform/
lock
terraform.tfstate
terraform.tfstate.backup
lambda/venv/lib/python3.5
lambda/venv
*.swp
*.swo
*.swn
*.pyc
